*.log
npm-debug.log*
.DS_Store*
.node-persist/
build/Release
node_modules/
.npm
.eslintcache
package-lock.json
*.pem
.git
temp.json
temp.js
.vscode/
sketch/sketch.ino
sketch/build*
env/
__pycache__/
*.pyc
