> arduino-mk
sudo apt install arduino-mk -y

> avrdude
sudo apt install avrdude -y

> allow SPI, I2C, Remote GPIO
sudo raspi-config
Advanced options

> set boundrate
change
	dtparam=i2c_arm=on
to
	dtparam=i2c_arm=on,i2c_arm_baudrate=727000