body{
  margin: 10px;
  cursor: pointer;
}

.button{
  /* font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  margin: 10px; */
}

#bold{
  font-weight: bold;
}

.grid {
  display: grid;
  position: absolute;
  right: 20px;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 5px;
  grid-auto-rows: minmax(20px, auto);
}

.resetAll {
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 10px;
}

.export {
  grid-column: 1 / 3;
  grid-row: 2;
  padding: 10px;
}

.newFrame {
  grid-column: 1 / 3;
  grid-row: 3;
  padding: 10px;
}

.saveFrame{
  grid-column: 1 / 3;
  grid-row: 4;
  padding: 10px;
}

.disablePixel {
  grid-column: 1;
  grid-row: 5;
  padding: 10px;
}

.enablePixel {
  grid-column: 2;
  grid-row:5;
  padding: 10px;
}

.prevFrame{
  grid-column: 1;
  grid-row:6;
  padding: 10px;
}

.nextFrame{
  grid-column: 2;
  grid-row:6;
  padding: 10px;
}
.numberFrames {
  grid-column: 1 / 3;
  grid-row: 7;
  padding: 10px;
}

#matrixPos{
  grid-column: 1/3;
  grid-row: 8;
  padding: 10px;
}

.frameTime{
  grid-column: 1/3;
  grid-row: 9;
  padding: 10px;
}
.playAnimation{
  grid-column: 1/3;
  grid-row: 10;
  padding: 10px;
}

.stopAnimation{
  grid-column: 1/3;
  grid-row: 11;
  padding: 10px;
}
